body {
	background-color:#000000;
	background:url('../imagenes/BG.png');
	text-align: center;
}

h1, h3{
	color:#558855;
}

section {
	float:left;
	clear:none;
	background:url('../imagenes/trasparente.png');
	border:2px solid;
	border-color:#ffffff;
	border-radius:15px;
	margin:2em 0.5em;
	padding:0.5em 3em;
	text-align: center;
}

canvas {
	background:url('../imagenes/fondo.png');
	color:#ffffff;
	border:2px solid;
	border-color:#ffffff;
	border-radius:15px;
}

p {
	color:#003300;
}

button {
	margin:0.3em;
	color:#555555;
}

blockquote {
	margin:0.3em;
	color:#005500;
    font-size:1.3em;
    text-align: rigth;
    font-style: italic;
    font-weight: bold;

}

#Walk1, #Walk2, #Walk3, #Walk4, #Walk5, #Walk6, #Walk7, #Walk8, #Walk9, #Walk10,
#Back1, #Back2, #Back3, #Back4, #Back5, #Back6, #Back7, #Back8, #Back9, #Back10,
#Dead, #TombStone1, #TombStone2, #Bone1,#Bone2,#Bone3,#Bone4,
#Object1,#Object2,#Object3,#Object4,#Object5,#Object6,#Object7, #Object8,
#piso, #fondo {
	display:none;
}

#popup {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.content-popup {
    margin:0px auto;
    margin-top:120px;
    position:relative;
    padding:10px;
    width:500px;
    min-height:250px;
    border-radius:25px;
    background:url('../imagenes/trasparente.png');
    box-shadow: 0 2px 5px #666666;
}

.content-popup h2 {
    color:#48484B;
    border-bottom: 1px solid #48484B;
    margin-top: 0;
    padding-bottom: 4px;
}

.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display:none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.close {
    position: absolute;
    right: 15px;
}
