body {
    	background-color: #FFFF55;
	font-size: 14px;
}
input {
	background-color: #5555ff;
	font-size: 14px;
	color: #ffffff;
}
select {
	background-color: #5555ff;
	font-size: 14px;
	color: #ffffff;
}
