@import url('estiloGuille.css');
p.Code
{
	font-size:9.0pt;
    font-family:"Courier New";
	overflow: auto;
	white-space:pre;
	background: #F5F5F5;
	color:black;
	padding: 4px 4px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 4px;
	margin-right: 4px; 
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
}
p.Salida
{
    background: #000000;
    padding: 8px 8px;
    margin-top: .3in;
    margin-bottom: .3in; 
    margin-left:.3in;
    margin-right:.3in;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    width:90%;
    color: #FFFFFF;
    font-family:"Lucida Console";
    font-weight:bold;
    font-size:14px
}
p.Mini
{
    font-family:Verdana;
    font-size:8.0pt;
    margin-left:30pt;
    margin-right:30pt;
    margin-top:3pt;
    margin-bottom:10pt;
}
body
{
    font-size:10.0pt;
    font-family:Verdana;
}
H1
{
    font-size:28.0pt;
    font-family:Verdana;
    font-weight:bold;
}
h1.Big       
{ 
	font-family: Verdana; 
	font-size: 36.0pt; 
	font-weight: bold; 
}
H2
{
    font-size:18.0pt;
    font-family:Verdana;
    font-weight:bold;
}
H3
{   
    font-size:14.0pt;
    font-family:Verdana;
    font-weight:bold;
}
H4
{   
    font-size:12.0pt;
    font-family:Verdana;
    font-weight:bold;
}
H5
{   
    font-size:10.0pt;
    font-family:Verdana;
    font-weight:bold;
}
H6
{   
    font-size:8.0pt;
    font-family:Verdana;
    font-weight:bold;
}
pre
{
	font-size:9.0pt;
    font-family:"Courier New";
	margin-left:0.5em;
    margin-right:0.5em;
	margin-top:0.5em;
	margin-bottom:0.5em;
	padding:8pt;
	background:#F5F5F5;
	color:black;
	overflow: auto;
	border-width: 1px;
    border-style: solid;
    border-color: #A0A0A0;
}
pre.Negrita
{
	font-size:9.0pt;
    font-family:"Courier New";
    font-weight:bold;
	margin-left:0.5em;
    margin-right:0.5em;
	margin-top:0.5em;
	margin-bottom:0.5em;
	padding:8pt;
	background:#F5F5F5;
	color:black;
	overflow: auto;
	border-width: 1px;
    border-style: solid;
    border-color: #A0A0A0;
}
p.Pie
{
    font-size:10.0pt;
    font-family:Verdana;
    font-weight:bold;
    text-align:center;
}
p
{
    font-family:Verdana;
    font-size:10.0pt;
    margin-left:4pt;
    margin-right:0in;
}
p.Nota
{
    background: #F5F5F5;
    padding: 12px;
    cursor: text;
    margin-top: .3in;
    margin-bottom: .3in; 
    margin-left:.3in;
    margin-right:.3in;
    color: #000000;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    font-family:Verdana;
    font-size:10.0pt;
}
div.Nota
{
	background: #F5F5F5;
	padding: 12px;
	margin-top: .3in;
	margin-bottom: .3in;
	margin-left:.3in;
	margin-right:.3in; 
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
}
div.Marco
{
	padding: 8px 8px;
	margin-top: .3in;
	margin-bottom: .3in;
	margin-left:.3in;
	margin-right:.3in; 
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
}
li
{
    font-size:10.0pt;
    font-family:Verdana; 
    text-align:left; 
    line-height:175%
}
table
{
    font-size:10.0pt;
    font-family:Verdana;
}
td
{
    font-size:10.0pt;
    font-family:Verdana;
}
dl
{
    font-family:Verdana;
    font-size:10.0pt;
    font-style:italic;
}
small
{
    font-family:Verdana;
    font-size:8.0pt;
    margin-left:0in;
    margin-right:0in;
}